header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  width: 100%;
  padding: 20px;
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header a {
  color: white;
  text-decoration: none;
}
header .logo {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 15px;
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 400px;
  justify-self: flex-end;
}
.header-searchInput {
  width: 92%;
  height: 100%;
  padding: 5px;
  border: none;
  outline: none;
}
.header-searchIcon {
  width: 8%;
  min-width: 20px;
  height: 100%;
  padding: 5px;
  background-color: #cd9042;
}
@media screen and (max-width: 900px) {
  .header-search {
    width: 200px;
    margin-right: 0;
  }
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 470px) {
  .header-nav {
    gap: 13px;
  }
}
.header-nav span {
  display: block;
}

.header-option .header-optionLineOne {
  font-size: 10px;
}
.header-option .header-optionLineTwo {
  font-size: 16px;
  font-weight: bold;
}
.cart {
  position: relative;
  width: min-content;
  margin: auto;
}
.cart-img {
  width: 20px;
  height: 20px;
}
.cart span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 12px;
}

.nav-show-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  z-index: 999;
}
.nav-show-btn svg {
  color: #fff;
  font-size: 25px;
  width: 28px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .nav-show-btn {
    display: block;
  }
  .header-nav {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100vh;
    background-color: #131921;
    transition: all 0.5s ease-in-out;
  }
  .header-nav.header-nav-toggle {
    bottom: 0;
  }
  .header-search {
    display: none;
  }
  .header-nav a {
    background-color: #cd9042;
    border-radius: 8px;
    width: 70vw;
    padding: 8px;
    text-align: center;
  }
  .cart span {
    position: absolute;
    bottom: -10%;
    right: -35%;
    font-size: 12px;
  }
}
