header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  width: 100%;
  padding: 10px 20px;
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header a {
  color: white;
  text-decoration: none;
}
header .logo {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 15px;
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  height: 25px;
  width: 400px;
}

.header-searchInput {
  width: 96%;
  height: 100%;
  padding: 5px;
  border: none;
  outline: none;
}
.header-searchIcon {
  width: 4%;
  min-width: 20px;
  height: 100%;
  padding: 5px;
  background-color: #cd9042;
}
@media screen and (max-width: 900px) {
  .header-search {
    width: 200px;
  }
}
@media screen and (max-width: 660px) {
  .header-search {
    width: fit-content;
    margin-right: 0;
  }
  .header-searchInput {
    display: none;
  }
  .header-searchIcon {
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 470px) {
  .header-nav {
    gap: 13px;
  }
}
.header-nav span {
  display: block;
}

.header-option .header-optionLineOne {
  font-size: 10px;
}
.header-option .header-optionLineTwo {
  font-size: 16px;
  font-weight: bold;
}
.cart {
  position: relative;
}
.cart-img {
  width: 20px;
  height: 20px;
}
.cart span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 12px;
}
